.editor-block {
  position: absolute;
  left: 0;
  top: 0;
  border: 2px solid transparent;
  &.focus {
    border: 2px dashed pink;
    &:after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
}
